<div class="jscroll-div">
  <div class="row text-center">
    <% post_locations.each do |post_location| %>
      <div class="col mt-3" >
        <%= link_to post_location_path(post_location.id) do %>
          <%= image_tag post_location.post_image,  class:"index_image"; %>
        <% end %>
        <div class="col mt-1">
          <span>
            コメント:<%= post_location.post_comments.count %>|<i class="fas fa-heart favorite_link"></i>:<%= post_location.favorites.count %>
          </span>
          <span class="star">
            <div id="star-rate<%= post_location.id %>" data-post_location_id="<%= post_location.id %>" data-post_location_star="<%= post_location.star != nil ? post_location.star : 0 %>" class="hoge">
              <script>
                $('#star-rate<%= post_location.id %>').empty();
                $('#star-rate<%= post_location.id %>').raty({
                  starOff   : '<%= asset_path('star-off.png') %>',
                  starOn    : '<%= asset_path('star-on.png') %>',
                  half      : false,
                  readOnly: true,
                  score: <%= post_location.star != nil ? post_location.star : 0 %>,
                  space: false
                });
              </script>
            </div>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate post_locations %>
</div>
  <script>
  $(document).on('turbolinks:load', function() {
    $('.jscroll-div').jscroll({
      contentSelector: '.jscroll-div',
      nextSelector: '.next a',
      loadingHtml: '読み込み中',
      padding: 10,
      loadingFunction: test
    });
  });
  function test ()
  {
    setTimeout(function(){
    console.log("hoge",$('.hoge').length);
    $('.hoge').each(function(i, elem) {
      $(elem).empty();
      $(elem).raty({
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        half      : false,
        readOnly: true,
        score: $(elem).data('data-post_location_star'),
        space: false
      });
    });},100);
  }
  </script>
