<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Facility name</th>
      <th>Introduction</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% post_locations.each do |post_location| %>
      <tr>
        <td><%= link_to(post_location.user) do %>
              <%= image_tag post_location.user.get_profile_image(50,50) %>
            <% end %>
        </td>
        <td><%= link_to post_location.facility_name,post_location, class: "post_location_#{post_location.id}" %></td>
        <td><%= post_location.introduction %></td>
        <td class=<%= "comments_count-" + post_location.id.to_s %>>Comment: <%= post_location.post_comments.count %></td>
        <td class=<%= "favorite-" + post_location.id.to_s %>>
        <%= render "favorites/btn", post_location: post_location %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>