<div class="row d-inline-flex text-center">
    <% post_locations.each do |post_location| %>
        <div class="col mt-3" >
            <%= link_to post_location_path(post_location.id) do %>
              <%= image_tag post_location.post_image,  class:"index_image"; %>
            <% end %>
          <div class="col mt-1">
            <span>コメント: <%= post_location.post_comments.count %> | </span>
            <span><i class="fas fa-heart favorite_link"></i>:<%= post_location.favorites.count %></span>
          </div>
        </div>
    <% end %>
  </div>
<div class="row">
  <div class="mx-auto mt-3">
    <%= paginate post_locations %>
  </div>
</div>
