<div class='container'>
  <div class='row'>
    <div class='col-12 col-md-6 mt-4'>
      <h4>投稿詳細</h4>
        <div>
          <%= image_tag @post_location.post_image, class:"img-fluid"; %>
        </div>
        <div>
          <span class=<%= "favorite-" + @post_location.id.to_s %>><%= render "public/favorites/btn", post_location: @post_location %></span>
          <p class="my-2">
            施設・店舗名：<span> <%= @post_location.facility_name %></span>
          </p>
          <p>ジャンル：<%= @post_location.genre.name %></p>
          <p>都道府県：<%= @post_location.prefecture %></p>
          <p>対象年齢：<%= @post_location.target_age.target %></p>
          <p>評価：<span id="star-rate<%= @post_location.id %>"></p>
             <script>
              $('#star-rate<%= @post_location.id %>').empty();
              $('#star-rate<%= @post_location.id %>').raty({
                 size      : 36,
                 starOff   : '<%= asset_path('star-off.png') %>',
                 starOn    : '<%= asset_path('star-on.png') %>',
                 half      : false,
                 readOnly: true,
                 score: <%= @post_location.star != nil ? @post_location.star : 0 %>,
               });
             </script>
             </span>
          <p>紹介文：<%= simple_format(@post_location.introduction) %></p>
          <p>投稿日：<%= @post_location.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
          <div>
            <%= link_to user_path(@post_location.user.id) do %>
              <span><%= image_tag @post_location.user.get_profile_image, class:"index_profile_image rounded-circle mr-2"; %>By <%= @post_location.user.name %></span>
            <% end %>
          </div>
          <% if @post_location.user == current_user %>
          <div class='mt-5'>
            <a class='mx-2'><%= link_to '編集', edit_post_location_path(@post_location), class: "btn btn-sm btn-success edit_post_location_#{@post_location.id}" %></a>
            <a class='mx-2'><%= link_to '削除', @post_location, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_location_#{@post_location.id}"%></a>
          </div>
         <% end %>

      </div>
    </div>

    <div class='col-12 col-md-6 mt-4'>
      <h4 class='comments_count-<%= @post_location.id %> my-3'>コメント数: <%= @post_location.post_comments.count %> </h4>
      <div class='post_comments'>
        <%= render "public/post_comments/index",  post_location_comments:  @post_location_comments %>
      </div>
      <div class='post_comment_comment'>
        <%= render "public/post_comments/form", post_location: @post_location, post_comment: @post_comment %>
      </div>
    </div>
  </div>
</div>
