<div class="container">

  <div class="row">
    <div class="col-3 offset-1">
      <h5 class="bg-light text-center my-5">対象年齢一覧・追加</h5>
    </div>
  </div>

<div class="row">
  <div class="col-10 mx-auto mb-5">
    <%= form_with model: @target_age, url: admin_target_ages_path, local:true do |f| %>
     <%= f.label :対象年齢 %>
     <%= f.text_field :target %>
     <%= f.submit "新規登録", class: "btn btn-success offset-1" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-9 offset-1">
    <table class="table col-10 mx-auto">
      <thead>
        <tr>
          <th class="text-center">対象年齢</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @target_ages.each do |target_age| %>
         <tr  class="text-center">
           <td><%= target_age.target %></td>
           <td><%= link_to "編集する", edit_admin_target_age_path(target_age), class: "btn btn-success" %></td>
           <td><%#= link_to "削除する", target_age(target_age.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %></td>
         </tr>
        <% end %>
      </tbody>
    </table>
   </div>
 </div>
</div>