<div class="container ">
  <div class="row">
    <div class="col-12 col-md-3">
      <h4 class="text-center my-5">ジャンル一覧・追加</h4>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 mb-5">
      <%= form_with model: @genre, url: admin_genres_path, local:true do |f| %>
       <%= f.label :ジャンル, class: "mt-4" %>
       <%= f.text_field :name, class: "mt-4"  %>
       <%= f.submit "新規登録", class: "btn btn-success my-2" %>
      <% end %>
    </div>
  </div>

  <div class="jscroll-div">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10">
      <table class="table col-12 mx-auto">
        <thead>
          <tr>
            <th class="text-center">ジャンル</th>
            <th></th>
            <th></th>
          </tr>
        </thead
        <tbody>
          <% @genres.each do |genre| %>
           <tr  class="text-center">
             <td><%= genre.name %></td>
             <td><%= link_to "編集", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
             <td><%= link_to "削除", admin_genre_path(genre), method: :delete, class: "btn btn-danger" %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="mx-auto mt-3">
          <%= paginate @genres %>
        </div>
      </div>
     </div>
   </div>
  </div>
</div>

<script>
$(document).on('turbolinks:load', function() {
  console.log('jscroll');
  $('.jscroll-div').jscroll({
    contentSelector: '.jscroll-div',
    nextSelector: '.next a',
    loadingHtml: '読み込み中',
    padding: 10
  });
});
</script>