<div class='container'>
  <div class='row'>
    <div class='col-12 col-md-7 mt-3'>
      <h4>投稿詳細</h4>
        <div>
          <%= image_tag @post_location.post_image, class:"show_image"; %>
        </div>
        <div>
          <span><i class="fas fa-heart favorite_link"></i><%= @post_location.favorites.count %>いいね</span>
          <p class="my-2">
            施設・店舗名：<span> <%= @post_location.facility_name %></span>
          </p>
          <p>ジャンル：<%= @post_location.genre.name %></p>
          <p>都道府県：<%= @post_location.prefecture %></p>
          <p>対象年齢：<%= @post_location.target_age.target %></p>
          <p>紹介文：<%= @post_location.introduction %></p>
          <p>投稿日：<%= @post_location.created_at.strftime('%Y/%m/%d') %></p>
          <div>
            <%= link_to admin_user_path(@post_location.user.id) do %>
              <span><%= image_tag @post_location.user.get_profile_image, class:"index_profile_image rounded-circle mr-2"; %>By <%= @post_location.user.name %></span>
            <% end %>
          </div>
          <div class='mt-5'>
            <a class='mx-2'><%= link_to '削除', admin_post_location_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_location_#{@post_location.id}"%></a>
        </div>
      </div>
    </div>

    <div class='col-12 col-md-5 mt-3'>
      <h4 class='comments_count-<%= @post_location.id %> my-3'>コメント数: <%= @post_location.post_comments.count %> </h4>
      <div class='post_comments'>
        <%= render "public/post_comments/index", post_location: @post_location %>
      </div>
    </div>
  </div>
</div>