<% post_location.post_comments.each do |post_comment| %>
  <div class='row'>
    <div class="col-4  text-break"><%= simple_format(post_comment.comment) %></div>
    <div class="col-3">
      <% if post_comment.user == current_user %>
        <%= link_to "削除", post_location_post_comment_path(post_location, post_comment), method: :delete, remote: true, class: "btn btn-danger btn-sm" %>
      <% elsif current_admin.present? %>
        <%= link_to "削除", admin_post_location_post_comment_path(post_location, post_comment), method: :delete, remote: true, class: "btn btn-danger btn-sm" %>
      <% else %>
      <% end %>
    </div>

    <div class="col-5">
      <% if current_admin.present? %>
        <%= link_to admin_user_path(post_comment.user) do %>
          <%= image_tag post_comment.user.get_profile_image, class:"index_profile_image rounded-circle"; %> By <%= post_comment.user.name %>
        <% end %>
        <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
      <% else %>
        <%= link_to user_path(post_comment.user) do %>
          <%= image_tag post_comment.user.get_profile_image, class:"index_profile_image rounded-circle"; %> By <%= post_comment.user.name %>
        <% end %>
        <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
      <% end %>
    </div>

  </div>
<% end %>

