<div class="container">

  <div class="row">
    <div class="col-3 offset-1">
      <h5 class="bg-light text-center my-5">都道府県一覧・追加</h5>
    </div>
  </div>

<div class="row">
  <div class="col-10 mx-auto mb-5">
    <%= form_with model: @prefecture, url: admin_prefectures_path, local:true do |f| %>
     <%= f.label :都道府県名 %>
     <%= f.text_field :name %>
     <%= f.submit "新規登録", class: "btn btn-success offset-1" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-9 offset-1">
    <table class="table col-10 mx-auto">
      <thead>
        <tr>
          <th class="text-center">都道府県名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @prefectures.each do |prefecture| %>
         <tr  class="text-center">
           <td><%= prefecture.name %></td>
           <td><%= link_to "編集する", edit_admin_prefecture_path(prefecture), class: "btn btn-success" %></td>
           <td><%#= link_to "削除する", prefecture(prefecture.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %></td>
         </tr>
        <% end %>
      </tbody>
    </table>
   </div>
 </div>
</div>
