<div class='container'>
  <div class='row'>
    <div class='col-12 col-md-6 mt-4'>
      <h4>マイページ</h4>
        <%= render 'info', user: @user, favorites: @favorites %>
    </div>
    <div class='col-12 col-md-6 mt-4'>
      <h4>投稿履歴</h4>

        <%= form_with model: @user, url: user_search_path(@user), method: :get, local: false do |f| %>
          <%= f.date_field :created_at , value: @create_at %>
          <%= f.submit '検索', class: 'btn btn-info'  %>
        <% end %>

        <div id="search_result">
          <% if @search_post_location.present? %>
            <%= render 'search', search_post_location: @search_post_location, post_locations: @post_locations %>
          <% else @search_post_location == "0" %>
            <p>投稿がありませんでした。</p>
          <% end %>
        </div>

    </div>
  </div>
</div>
