<!DOCTYPE html>
<html>
  <head>
    <title>DOKOITTAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>

  </head>

  <body>

    <%= render "layouts/header" %>

    <main class="font d-flex flex-column mb-auto">

      <div class="row d-flex justify-content-end m-2">
        <%= render 'public/searches/form' %>
      </div>

      <div class="flash-message">
        <%= render 'layouts/flash' %>
      </div>

      <%= yield %>

    </main>

    <%= render "layouts/footer" %>
    <script src="../public/post_locations/index"></script>
  </body>
</html>
